body {
    background-color: #faedff;
    font-family: "Roboto", sans-serif;
    color: #333;
}

.row {
    width: 720px;
    margin: 0 auto;

}


h1, h2, h3, h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

table {
    width: 100%;
}